<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.uottawa.eecs.seg2505.benevolapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainBenevoleActivity"
            android:label="@string/title_activity_main_benevole" >
        </activity>
        <activity
            android:name=".MainOrganismeActivity"
            android:label="@string/title_activity_main_organisme" >
        </activity>
        <activity
            android:name=".offresDisponibles.OffresDisponiblesActivity"
            android:label="@string/title_activity_offres_disponibles"
            android:parentActivityName=".MainBenevoleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.uottawa.eecs.seg2505.benevolapp.MainBenevoleActivity" />
        </activity>
        <activity
            android:name=".DisponibiliteActivity"
            android:label="@string/title_activity_disponibilite"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".ModifBenevoleActivity" >
        </activity>
        <activity android:name=".ModifOrganismeActivity" >
        </activity>
        <activity android:name=".EtatOffresActivity" >
        </activity>
		    <activity android:name=".OffreDetailActivity"
            android:label="Offre Detail">
        </activity>

        <activity
            android:name=".OffreListActivity"
            android:label="Liste des Offres">
        </activity>

        <activity android:name=".InfoOrganismeActivity">
		</activity>

    </application>

</manifest>
